.InputText {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
  
#textInput {
  width: 250px;
  height: 150px;
  resize: none;
}

#timeSelect {
  padding-right: 100px;
}

#button {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 250px;
  margin-top: 5px;
  font-size: 19px;
}